@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');

@mixin noto() {
    font-family: 'Noto Sans KR', sans-serif;
}
@mixin msr() {
    font-family: 'Montserrat', sans-serif;
}

@mixin transition($property: all, $duration: .15s, $timing: linear, $delay: 0s) {
	-webkit-transition-property: $property;
    transition-property: $property;
	-webkit-transition-duration: $duration;
    transition-duration: $duration;
	-webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
	-webkit-transition-delay: $delay;
    transition-delay: $delay;
}

/* 초기화 */
h1, h2, h3,h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
dl {
    margin-bottom: 0;
    dt {
        font-weight: 400;
    }
    dd {
        font-weight: 400;
        margin: 0;
    }
}
address {
    margin-bottom: 0;
}
figure {
    margin-bottom: 0;
}
label {
    margin: 0;
    font-weight: 400;
}
body {
    position: relative;
    @include noto();
    font-size: 13px;
    color: #666;
    font-weight: 400;
    min-width: 1200px;
}
label {
    font-weight: 400;
}
dl {
    dt {
        font-weight: 400;
    }
    dd {
        font-weight: 400;
        margin-bottom: 0;
    }
}
a {
    color: inherit;
    text-decoration: none !important;
    &:hover {
        color: inherit;
    }
}
.btn {
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none !important;
    background: none;
}
.form-group {
    margin: 0;
}
.form-control {
    border-radius: 0;
    box-shadow: none !important;
}
.container,
.container-fluid {
    .row {
        overflow: hidden;
        @for $i from 1 through 12 {
            .col-#{$i} {
                float: left;
            }
        }
    }
}
.container {
    max-width: 1200px !important;
}