
.icon-search:before { content: '\e800'; } /* '' */
.icon-location-circled:before { content: '\e801'; } /* '' */
.icon-phone-circled:before { content: '\e802'; } /* '' */
.icon-doc-circled:before { content: '\e803'; } /* '' */
.icon-print:before { content: '\e804'; } /* '' */
.icon-zoom-in:before { content: '\e805'; } /* '' */